
# 3D Model Files
dist/
*.DS_Store
*.egg-info
*.gif
*.hypothesis
*.ipynb_checkpoints
# keep each item within the sections alphabetical
# keep each top level section alphabetical
# large files
*logs*
# mac
# misc
MUJOCO_LOG.TXT
*.mypy_cache
outputs/*
*.png
*.pyc
*__pycache__
__pycache__/
# python
# robot packages
#ros
ros2/build/
ros2/install/
ros2/log/
*runs*
*.stlbuild/
*.swp
*tb_logs*
third_party/i2rt/
# vim
*wandb*
*wandb_logs*
